p {
  color: red;
}


div {
  background-color: #999999;
  border: 2px solid purple;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.kittyFooFoo {
  background-color: CadetBlue;
}

div {
  background-color: red;
}

body {
  background-color: green;
}
